.create-inv-btn-icon {
    margin-top: 2vh;
    margin-left: 0.25vw;
}

.create-inv-btn-title{
    margin-top: 1.5vh;
}

.create-inv-btn-container {
    width: 90%;
    margin-left: 0.5vw;
}

/*OrderDetails btn*/

.invoice-download-btn-container {
    margin-top: 2vh;
    margin-left: 68.5%;
}

.invoice-download-btn {
    padding: 1rem;
}