.add-form-container {
    margin-left: 1%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.form-content-mt {
    margin-top: 1vh;
}

.span-ml {
    margin-left: 1vw;
}

.suggestion-mt {
    margin-top: 5vh;
}

.delete-icon-color {
    margin-top: 1.5vh;
}

.delete-span {
    margin-top: 1vh;
}

.search-order-id {
    margin-top: 5.5vh;
}

.order-products-container,
.order-addresses-container,
.order-delivery-cost-container,
.order-update-details-container,
.order-status-container {
    margin-top: 4vh;
    padding: 1rem;
    width: 45vw;
}

.order-adresses-textarea {
    padding: 0.25em;
}

.order-sum-container {
    margin-top: 4vh;
    padding: 1rem;
    width: 20vw;
    height: 33vh;
}

.total-container {
    padding-top: 2vh;
}

.order-btn-container {
    width: 20vw;
}

.order-btn-cancel {
    padding-top: 1vh;
    padding-left: 1.5vw;
}

.order-btn-save {
    padding-top: 1vh;
    padding-left: 0.5vw;
}

.order-btn-icon {
    margin-top: 0.25vh;
}

.order-title-container {
    width: 50vw;
}

.add-order-product-btn {
    padding-block: 0.25rem;
    padding-inline: 1rem;
}

.order-product-add-btn {
    margin-top: 0.5vh;
}

.status-select,
.status-label {
    padding: 0.25em;
}

.echeance-input {
    padding-inline: 0.5rem;
}

.echeance-span {
    margin-top: 0.5vh;
}

.order-type-container {
    padding-block: 0.25rem;
}

.order-details-edit-btn {
    padding-bottom: 5rem;
}

.adresse-facturation-sugg {
    margin-left: 24vw;
    margin-top: 20vh;
}

.form-input-padding-left {
    padding-left: 1vw;
}

.payment-method-select {
    margin-top: 0.5vh;
}

.payment-method-input-p {
    padding-inline: 0.5rem;
    padding-block: 0.25em;
}

.add-new-desc-btn {
    padding-inline: 0.5rem;
}

.add-payment-method-container {
    padding: 0.5rem;
}

.update-form-spin {
    margin-top: -70vh;
}

.create-payment-method-form, .update-payment-method-form {
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-bottom: 1vh;
}

.create-payment-input, .update-payment-input {
    padding-inline: 0.5vw;
    padding-block: 0.25vh;
    margin-bottom: 0.5vh;
}

.create-payment-form-btn, .update-payment-form-btn {
    padding: 0.25rem;
}

@media screen and (min-width: 1820px) {
    .add-form-container {
        margin-left: 0%;
        padding-block: 0.5rem;
    }

    .order-btn-cancel {
        padding-top: 0.7vh;
    }

    .order-btn-save {
        padding-top: 0.7vh;
    }

    .order-sum-container {
        height: 22vh;
    }

    .search-order-id {
        margin-top: 4.5vh;
    }

    .adresse-facturation-sugg {
        margin-left: 30vw;
        margin-top: 14vh;
    }

    .order-sum-container {
        margin-top: 3vh;
        height: 23vh;
    }
}