.add-form-container {
    padding: 2rem;
}

.form-content-mt{
    margin-top: 1vh;
}

.span-ml {
    margin-left: 1vw;
}

.suggestion-mt {
    margin-top: 5vh;
}

.delete-icon-color {
    margin-top: 1.5vh;
}

.delete-span {
    margin-top: 1vh;
}