.add-form-container {
    margin-left: 1%;
    padding-block: 1rem;
}

.form-content-mt{
    margin-top: 1vh;
}

.span-ml {
    margin-left: 1vw;
}

.suggestion-mt {
    margin-top: 5vh;
}

.delete-icon-color {
    margin-top: 1.5vh;
}

.delete-span {
    margin-top: 1vh;
}

.search-order-id {
    margin-top: 5.5vh;
}

.order-products-container, 
.order-addresses-container, 
.order-delivery-cost-container, 
.order-update-details-container,
.order-status-container {
    margin-top: 4vh;
    padding: 1rem;
    width: 45vw;
}

.order-sum-container {
    margin-top: 4vh;
    padding: 1rem;
    width: 20vw;
    height: 33vh;
}

.total-container {
    padding-top: 2vh;
}

.order-btn-container {
    width: 20vw;
}

.order-btn-cancel {
    padding-top: 1vh;
    padding-left: 1.5vw;
}

.order-btn-save {
    padding-top: 1vh;
    padding-left: 0.5vw;
}

.order-btn-icon {
    margin-top: 0.25vh;
}

.order-title-container {
    width: 50vw;
}

.add-order-product-btn {
    padding-block: 0.25rem;
    padding-inline: 1rem;
}

.order-product-add-btn {
    margin-top: 0.5vh;
}

.status-select, .status-label {
    padding: 0.25em;
}

.order-type-container {
    padding-block: 0.25rem;
}

.order-details-edit-btn {
    padding-bottom: 5rem;
}