.order {
    margin-top: 4vh;
    margin-left: 1vw;
}

.mts {
    margin-top: 2vh;
}

.mbs {
    margin-bottom: 2vh;
}

.pls {
    padding-left: 1vw;
}

.input-padding {
    padding-left: 2vw;
    padding-top: 1vh;
}

.addBtn {
    margin-left: 1.5vw;
}

.addIcon {
    font-size: x-large;
}

.product-search-input {
    padding-left: 2vw;
}

.order-table {
    margin-right: 1vw;
    height: max-content;
    padding-bottom: 2vh;
    padding-inline: 1.5vw;
}

.table-element-p {
    padding-left: 1vw;
    padding-right: 1vw;
}

.add-icon {
    margin-left: 1vw;
}

.productlist-section {
    width: 50vw;
    height: max-content;
    padding-inline: 2vw;
    padding-bottom: 2vh;
}

.order-btn{
    margin-left: 80%;
}