.order {
    margin-top: 4vh;
    margin-left: 1vw;
}

.mts {
    margin-top: 2vh;
}

.mbs {
    margin-bottom: 2vh;
}

.pls {
    padding-left: 1vw;
}

.pil {
    padding-inline: 1vw;
}

.pg {
    padding: 1rem;
}

.input-padding {
    padding-left: 2vw;
    padding-top: 1vh;
}

.addBtn {
    margin-left: 1.5vw;
}

.addIcon {
    font-size: x-large;
}

.product-search-input {
    padding-left: 2vw;
}

.order-table {
    margin-right: 1vw;
    height: max-content;
    padding-bottom: 2vh;
    padding-inline: 1.5vw;
}

.table-element-p {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.add-icon {
    margin-left: 1vw;
}

.productlist-section {
    height: max-content;
    margin-inline: 5%;
    padding-inline: 2vw;
    padding-bottom: 2vh;
}

.order-btn{
    margin-left: 80%;
}

.invoice-container {
    margin-inline: 1.5vw;
    margin-top: 4vh;
}

.panel-content {
    margin-bottom: 2vh;
    width: 31.5vw;
}

.date-label {
    margin-top: 1vh;
}

.add-order-btn {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-bottom: 0.5vh;
}

.status-column {
    padding-inline: 0.5rem;
}

.status-type-details {
    padding-top: 0.5vh;
    padding-inline: 0.5vw;
}

.order-search-icon {
    margin-top: 0.75vh;
}

.date-search {
    padding-inline-start: 0.5em;
}

.dashboard-title {
    margin-left: 2%;
}