.order {
    margin-top: 4vh;
    margin-left: 1vw;
}

.mts {
    margin-top: 2vh;
}

.input-padding {
    padding-left: 2vw;
    padding-top: 1vh;
}

.addBtn {
    margin-left: 1.5vw;
}

.addIcon {
    font-size: x-large;
}

.product-search-input {
    padding-left: 2vw;
}

.order-table {
    margin-right: 1vw;
}