.logo {
    margin-top: 2vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-links {
    margin-block: 2.5vh;
    width: 14vw;
    height: 7vh;
    padding-top: 1vh;
    margin-top: 0;
}

.side-bar-content {
    margin-left: 2vw;
}

.mt-link {
    margin-top: 2vh;
}

.logout-btn-container {
    margin-top: auto;
    margin-bottom: 4vh;
}

.disconnect-btn {
    margin-inline: 2vw;
}

.link-icon {
    margin-top: 0.5vh;
}
