.stats-container {
    padding: 1rem;
}

.stats-items {
    margin-top: 0.5vh;
}

.line-chart-container {
    margin-top: 4vh;
    padding: 2rem;
    width: 50vw;
}

.recent-invoices {
    margin-top: 4vh;
    padding: 2rem;
    width: 30vw;
}

.invoices-list>div {
    margin-top: 4vh;
}

.recent-invoice-amount-container, .recent-invoice-icons {
    padding-block: 1.5rem;
}

.chart {
    margin-bottom: 4vh;
}